/* ----------------------------------------------------- */
// addon configuration
/* ----------------------------------------------------- */

// susy configuration
$susy: (
	columns: 12,  // The number of columns in your grid
	gutters: 1.5, // The size of a gutter in relation to a single column
	global-box-sizing: border-box,
);

// breakpoint configuration
$breakpoint-default-media: only screen;
$breakpoint-default-feature: max-width;

// breakpoints
$largest: 75em;  // 1200px
$larger:  62em;  //  992px
$large:   54em;  //  864px
$medium:  48em;  //  768px
$small:   34em;  //  544px

