// icons
@mixin fontawesome($content) {
	content: $content;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin btn($color) {
  transition: background-color 0.2s ease-in-out;
  background: $color;
  display: inline-block;
  padding: 1em 2em;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.06125em;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  &:hover {
    background: #444;
  }
}